.main{
    display: flex;
}

.bokal {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/41OPo2PKC6L.jpg");
    background-size: contain;
    width: 150px;
    height: 150px;
}