.cars-table__title{
    background: #333;
    color: #fff;
    text-align: center;
}
.cars-table__header{
    background: #333;
    color: #fff;
}
.row{
    display: flex;
}
.row > .col {
    width: 25%;
}
.p-1{
    padding: 1.1rem;
}
.cars-table__body > .row:nth-of-type(2n){
    background: #fafafa;
}