.team {
  margin: 1rem 0 2rem;
}

.team__name {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.players-table__title {
  margin: 1.25rem 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.players-table__row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.players-table__row>* {
  padding: 1rem;
}

.players-table__row--header {
  border-bottom: 2px solid #444;
  font-weight: 500;
}

.players-table__body>.players-table__row:nth-of-type(2n):not(.players-table__row--header) {
  background: #fbfbfb;
}

/* 10. */

.table__title {
  margin: 1.25rem 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.table__row {
  display: grid;
  grid-template-columns: 3fr repeat(5, 1fr);
}

.table__row>* {
  padding: 1rem;
}

.table__row--header {
  border-bottom: 2px solid #444;
  font-weight: 500;
}

.table__body>.table__row:nth-of-type(2n):not(.table__row--header) {
  background: #fbfbfb;
}